*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    /*background: linear-gradient(darkseagreen,lightcyan);*/
}

.background{
    width: 100%;
    height: 100%;
    background-image: url("bg.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: -1;
    -webkit-filter: opacity(60%);
    filter: opacity(60%);
}
body,.navbar,.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    position: relative;
    padding: 20px;
    border-radius: 50px;
    background-color: #fff;
}

.navbar input{
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}

.navbar span{
    position: absolute;
    left: 25px;
    top: calc(50% - 10px);
    width: 30px;
    height: 4px;
    border-radius: 15px;
    background-color: #999;
    pointer-events: none;
}

.navbar span:nth-child(3){
    top:calc(50% + 6px)
}

.navbar ul{
    width:0;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.5s;
}

.navbar ul li {
    list-style:none;
    margin: 0 15px;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: #333;
}

.navbar ul li a:hover{
    color:darkseagreen;
}

.navbar input:checked~ul{
    width: 350px;
}

.navbar input:checked~span:nth-child(3){
    top:calc(50% - 2px);
    transform: rotate(-45deg);
    background-color: darkseagreen;
}
.navbar input:checked~span:nth-child(2){
    top:calc(50% - 2px);
    transform: rotate(45deg);
    background-color: darkseagreen;
}

