*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
.background{
    width: 100%;
    height: 250%;
    background-image: url("bg.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: -1;
    -webkit-filter: opacity(60%);
    filter: opacity(60%);
}

/* 导航栏 */
.header{
    /* 长度设置为100% */
    width: 100%;
    /* 设置高度 */
    height: 60px;
    /* 设置行高 */
    line-height: 60px;
    /* 设置背景颜色 */
    background: #FFFFFF;
    /* 设置阴影 */
    box-shadow: 2px 3px 5px #ccc;
}
/* 导航内容区域 */
.headerf{
    /* 设置长度 */
    width: 1200px;
    /* 居中显示 */
    margin: auto;
}
/* logo图片 */
.headerf img{
    /* 左浮动 靠左对齐 */
    float: left;
    /* 设置高度 */
    height: 35px;
    /* 12px的上侧外边距 */
    margin-top: 12px;
}
/* 导航栏 */
.headerf ul{
    /* 右浮动 靠右对齐 */
    float: right;
}
.headerf ul li{
    /* 左浮动 靠左对齐 */
    float: left;
    /* 100px的左侧外边距 */
    margin-left: 100px;
}
/* 导航栏a标签 */
.headerf ul li a{
    /* 设置颜色 */
    color: #000000;
    /* 底部内边距设置为5px */
    padding-bottom: 5px;
}
/* 设置class为active 下的a */
.headerf ul .active a{
    /* 设置颜色 */
    color: darkseagreen;
    /* 设置背景 */
    border-bottom: 3px solid darkseagreen;
}
/* 鼠标移入效果 */
.headerf ul li a:hover{
    /* 设置颜色 */
    color: darkseagreen;
    /* 设置背景 */
    border-bottom: 3px solid darkseagreen;
}
/* 轮播图 */
.swiper {
    /* 相对定位 */
    position: relative;
    /* 设置长度 */
    width: 1200px;
    /* 设置高度 */
    height: 600px;
    /* 上外边距20px 左右居中 下外边距为20 */
    margin: 20px auto 20px auto;
    /* 超出隐藏不显示 */
    overflow: hidden;
}

.wrap {
    /* 相对定位 */
    position: relative;
    /* 设置长度 */
    width: 100%;
    /* 设置高度 */
    height: 100%;
    /* 居中显示 */
    margin: auto;
    /* 超出隐藏不显示 */
    overflow: hidden;
}

.warp ul {
    /* 绝对定位 */
    position: absolute;
}

.wrap ul li {
    /* 设置长度 */
    width: 100%;
    /* 设置高度 */
    height: 100%;
}

.wrap ul li img {
    /* 设置图片长度 */
    width: 100%;
    /* 设置图片高度 */
    height: 600px;
    /* 图片超出大小自动延展 防止压缩 */
    object-fit: cover;
    /* 设置3px的圆形弧度 */
    border-radius: 3px;
}
/* 底部下标 */
.wrap ol {
    /* 绝对定位 */
    position: absolute;
    /* 靠.wrap右侧5% */
    right: 5%;
    /* 靠.wrap底部20px */
    bottom: 20px;
}

.wrap ol li {
    /* 去除默认属性 */
    list-style: none;
    /* 设置高度 */
    height: 5px;
    /* 设置长度 */
    width: 30px;
    /* 边框 */
    border: 1px solid #FFF;
    /* 设置10px的圆弧 */
    border-radius: 10px;
    /* 左侧外边距为12px */
    margin-left: 12px;
    /* 左浮动 */
    float: left;
    /* 鼠标移上去 */
    cursor: pointer;
    /* 字体为0 隐藏文字 */
    font-size: 0px;
}

.wrap ol .on {
    /* 选中的背景 */
    background:darkseagreen;
}

.border2{
    font-family: STXingkai;
    font-size: 50px;
    text-align: center;
}
.border3{
    font-family:STKaiti;
}
.about{
    /* 弹性布局 */
    display: flex;
    /* 两端对齐 */
    justify-content: space-between;
    /* 设置长度 */
    width: 1200px;
    /* 居中显示 */
    margin: auto;
    /* 阴影 */
    box-shadow: 2px 1px 10px #CCCCCC;
}
.about img{
    /* 设置长度 */
    width: 550px;
    /* 设置高度 */
    height: 100%;
    /* 防止图片压缩 */
    object-fit: cover;
}
.about-text{
    /* 设置长度 */
    width: 590px;
    /* 上下左右内边距为20 */
    padding: 20px;
    font-family:STKaiti;
}
.about-text h4{
    /* 设置字体 */
    font-size: 24px;
    /* 设置颜色 */
    color: #333333;
    /* 字体粗细 */
    font-weight: normal;
    /* 文字间距 */
    letter-spacing: 2px;
    /* 下外边距为15px */
    margin-bottom: 15px;
}
.about-text p{
    /* 设置行高 */
    line-height: 1.8;
}
.about-text a{
    /* 设置成块级元素 单独一行显示 */
    display: block;
    /* 设置背景颜色 */
    background: #333333;
    /* 字体大小 */
    font-size: 14px;
    /* 字体颜色 */
    color: #FFFFFF;
    /* 设置长度 */
    width: 100px;
    /* 设置高度 */
    height: 40px;
    /* 设置行高 */
    line-height: 40px;
    /* 文字居中 */
    text-align: center;
    /* 上侧外边距为10 */
    margin-top: 10px;
    /* 圆弧为6px */
    border-radius: 6px;
}
.img{
    /* 相对定位 */
    position: relative;
    /* 设置长度 */
    width: 1200px;
    /* 上下外边距50px 左右居中 */
    margin: 50px auto;
}
.img ul{
    /* 弹性布局 */
    display: flex;
    /* 换行处理 */
    flex-wrap: wrap;
    /* 子元素横向两端对齐 */
    justify-content: space-between;
}
.img ul li {
    list-style: none;
    /* 相对定位 */
    position: relative;
    /* 设置长度 */
    width: 280px;
    /* 设置高度 */
    height: 220px;
    /* 下侧外边距为20px */
    margin-bottom: 20px;
}
.img img{
    display: block;
    /* 设置长度 */
    width: 100%;
    /* 设置高度 */
    height: 100%;
    /* 防止图片变形 */
    object-fit: cover;
}
.img p{
    /* 绝对定位 */
    position: absolute;
    /* 父级底部的0位置 */
    bottom: 0;
    /* 父级左侧的0位置 */
    left: 0;
    /* 设置字体大小 */
    font-size: 16px;
    /* 设置长度 */
    width: 92%;
    /* 上下左右的内边距为父级的4% */
    padding: 4%;
    /* 设置字体颜色 */
    color: #FFFFFF;
    /* 设置背景颜色*/
    background-color: rgba(0,0,0,0.4);
}